[user]
	name = Ben Landon
	email = landb0x207@gmail.com
	signingkey = B8A6734A887A8CEE
[init]
	defaultBranch = main
[credential "https://git.b0x207.dev"]
	provider = generic
[core]
	symlinks = true
	autocrlf = false
	longpaths = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
